# OS
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini

# JetBrains Rider
.idea/
*.sln
*.csproj

# Visual Studio / VS Code
.vs/
.vscode/
*.suo
*.user

# Unity meta files for hidden OS artifacts
.DS_Store.meta
